/*--------------------------------------------------/
/                    FUENTES                       /
/-------------------------------------------------*/

@font-face {
    font-family: 'Canela Bold';
    src: url('../fuentes/CanelaDeck-Bold-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Canela Black Italic';
    src: url('../fuentes/Canela-BlackItalic-Web.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kobe Black';
    src: url('../fuentes/MonaLisa.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/*--------------------------------------------------/
/                  ESTILO GENERAL                   /
/-------------------------------------------------*/

*, 
*::before, 
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.8;
    font-weight: 400;
    background: linear-gradient(-45deg, #ee7752, #f3a8b2, #ff9355);
    background-size: 400% 400%;
    animation: gradient 16s ease infinite;

}

/*--------------------------------------------------/
/               CLASES UTILITARIAS                 /
/-------------------------------------------------*/

.contenedor {
    width: 80%;
    max-width: 1450px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.borde {
    border: 1px solid black;
}

.este-sitio {
    background-color: rgb(255, 221, 177);
}

.underline {
    text-decoration: underline wavy;
}


/*--------------------------------------------------/
/               BARRRA DE NAVEGACIÓN                /
/-------------------------------------------------*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;  
}

.nav__lista {
    display: flex;
    list-style: none;
}

.nav__item {
    margin: .3em .5em;
    padding: .4em .5em;
    transition: all 0.2s;
}

.nav__item + .nav__item {
    margin-left: 2em;
}

.nav__item:hover {
    background-color: rgb(255, 221, 177);
    transform: translateY(-2px);
}

.nav__item:active {
    transform: translateY(0);
}

.nav__link,
.nav__link:visited,
.nav__link:focus {
    font-family: 'Kobe Black';
    font-size: 1.2rem;
    text-decoration: none;
    color: black;  
}

.home {
    font-size: 1.5rem;
    text-decoration: underline wavy;
    background-color: rgb(238, 116, 156);   
    border-radius: 50%; 
}

.home:hover {
    background-color: rgb(238, 116, 156);       
}

/*--------------------------------------------------/
/                     TABLA                         /
/-------------------------------------------------*/

main {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    font-family: 'Kobe Black', monospace;
    font-size: 1.1rem;
    min-width: 75vh;
    border-radius: 2.5rem .625rem; 
    vertical-align: middle;
    background-color: #c7685f;
    box-shadow: 0 0 1.2em rgba(233, 102, 90, .15);
    text-align: center;
    border-spacing: 0;
}

.titulo {
    font-family: 'Canela Black Italic', serif;
    font-size: 2rem;
    border-collapse: separate;
    padding-bottom: .4em;
    background-color: rgb(187, 108, 253);
    border-radius: 2.5rem .625rem 0 0; 
}
 
td {
    padding: .3em 0;
}

td + td {
    border-left: 2px solid black;
}

tr:nth-child(even) {
    background-color: rgb(148, 202, 151);
}

tr:nth-child(odd) a {
    background: linear-gradient(rgb(255, 221, 177) 0 0) left / var(--d, 0%) 100% no-repeat;
    transition: all 0.3s ease-out;
}

tr:nth-child(odd) a:hover {
    --d: 100%;
    cursor: pointer;
}

tr:nth-child(even) a {
    background: linear-gradient(rgb(238, 116, 156) 0 0) left / var(--d, 0%) 100% no-repeat;
    transition: all 0.3s ease-out;
}

tr:nth-child(even) a:hover {
    --d: 100%;
    cursor: pointer;
}

table a,
table a:visited {
    text-decoration: none;
    color: black;
    transition: all 0.3s;
}




